<footer class="footer">
  <nav class="nav-container">
    <div class="footer-left">
      <!-- パスは後ほど利用規約へのパスに変更 -->
      <%= link_to "利用規約", root_path, class: "footer-link" %>
    </div>

    <div class="footer-center">
      <!-- パスは後ほどプライバシーポリシーへのパスに変更 -->
      <%= link_to "プライバシーポリシー", root_path, class: "footer-link" %>
    </div>

    <div class="footer-right">
      <!-- パスは後ほどお問い合わせへのパスに変更 -->
      <%= link_to "お問い合わせ", root_path, class: "footer-link" %>
    </div>
  </nav>
</footer>
