<header class="header-simple">
  <nav class="nav-container">
    <div class="header-center">
      <%= link_to root_path, class: "logo-link" do %>
        <div class="logo-wrapper">
          <%= image_tag 'logo.png', alt: 'ことのは', class: 'logo-image' %>
          <span class="app-name">ことのは</span>
        </div>
      <% end %>
    </div>
  </nav>
</header>
